$background-light: #e6f5ff;
$text-dark: #343a40;

* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: $text-dark;
    background-color: $background-light;
}