@use '../../styles/variables.scss' as *;

.navbar-wrapper {
    background-color: #fff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    width: 100%;

    .navbar-container {
        width: 100%;
        list-style: none;
        display: flex;
        height: 60px;
        padding: 0 5vw;

        .navbar-item {
            height: 100%;
            display: flex;
            align-items: center;


        }

        .logo-icon a {
            font-size: 30px;
            color: $dark-blue;
            font-weight: 600;
        }

        .search-bar-container {
            margin: 0 auto;
        }

        .account-container {
            position: relative;

            &:hover .account-subnav {
                display: flex;
            }

            .account-subnav {
                display: none;
                z-index: 100;
                padding: 0;
                position: absolute;
                list-style: none;
                flex-direction: column;
                top: 60px;
                left: 0;
                background-color: #f0f0f0;
                box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);

                .subnav-item {
                    width: 150px;
                    padding: 10px;

                    &:hover {
                        background-color: $medium-blue;
                    }
                }

                .logout-btn {
                    cursor: pointer;
                }
            }
        }

        // .account-container:hover .account-subnav {}







    }

}